@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
:root {
  --fml-primary: #04172a;
  --fml-secondary: #fb3f5c;
  --fml-accent: #6c63ff;
}

/* 
* Main styles 
*/
.top-navigation a {
  font-weight: 500;
  color: var(--fml-primary) !important;
}

.view-dashboard-btn {
  font-weight: 500 !important;
}

/* body main section styles */
@media (max-width: 991.98px) {
  .investee-dashboard-info .welcome-text {
    font-size: 1.6em;
  }
}

.credit-score {
  background-image: url("../../../assets/images/credit-score-bg-pc.svg");
  background-size: cover;
  font-weight: 500 !important;
}

@media (max-width: 767.98px) {
  .credit-score {
    background-image: url("../../../assets/images/credit-score-bg-mobile.svg");
  }
}

.credit-score .refresh-icon {
  bottom: 0;
  right: 0;
}

.loan-balance p {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .loan-balance p {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

.loan-progress img {
  width: 80%;
}

.dashboard-tips-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 767.98px) {
  .dashboard-tips-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.dashboard-tips-card {
  background: rgba(251, 63, 92, 0.1);
  font-weight: normal;
}

.dashboard-tips-card h4 {
  font-weight: normal;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.promote-social-links > * + * {
  padding-left: 1em;
}

.files-bars {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.files-bars .file-bar {
  height: 5px;
  border-radius: 3px;
  background: var(--fml-secondary);
}

.files-bars .file-bar.undone {
  background: rgba(251, 63, 92, 0.4);
}

.account-overview-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (max-width: 991.98px) {
  .account-overview-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 575.98px) {
  .account-overview-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.account-detail {
  background: rgba(4, 23, 42, 0.03);
  border-radius: 5px;
  padding: 2em;
}

.account-detail h2 {
  margin-bottom: 0;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .account-detail h2 {
    font-size: calc(1.325rem + 0.9vw) ;
  }
}

.account-detail small {
  font-size: 18px;
  line-height: 2;
}

.account-detail .right,
.account-detail .left {
  font-size: 18px;
  font-weight: normal;
}

@media (max-width: 767.98px) {
  .account-detail {
    padding: 1.5rem;
  }
  .account-detail small,
  .account-detail .right,
  .account-detail .left {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .account-detail small,
  .account-detail .right,
  .account-detail .left {
    font-size: 12px;
  }
}

.investee-payment-history table thead {
  white-space: nowrap;
}

.investee-payment-history table tbody {
  font-size: 1.25rem;
}

.investee-payment-history table td {
  vertical-align: middle;
}

.investee-payment-history table td .day {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
}

.investee-payment-history table td .month {
  font-size: 15px;
  margin-top: -0.2em;
}

@media (max-width: 767.98px) {
  .investee-payment-history table thead {
    font-size: 14px;
  }
  .investee-payment-history table tbody {
    font-size: 1rem;
  }
  .investee-payment-history table .day {
    font-size: 24px;
  }
  .investee-payment-history table .month {
    font-size: 12px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
  border: 2px solid #bbbbbb;
  border-radius: 20px;
}

.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #bbbbbb;
  top: 2px;
  left: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.checkbox:checked + .switch:after {
  left: 20px;
  background-color: var(--fml-secondary);
}

.checkbox:checked + .switch {
  border-color: var(--fml-secondary);
}

.contain-arrow-helper {
  position: relative;
}

.help-card-contain {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.help-card-contain::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.help-card-contain > * + * {
  margin-left: 16px;
}

.help-card {
  background: rgba(4, 23, 42, 0.03);
  min-width: 230px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.profile .placeholder {
  width: 60px;
  height: 60px;
  background: #c4c4c4;
  border-radius: 50%;
  margin-right: 10px;
}

.profile h5 {
  font-size: 25px;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 0;
}

.profile small {
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .profile h5 {
    font-size: 14px;
  }
  .profile small {
    font-size: 12px;
  }
  .profile .placeholder {
    width: 42px;
    height: 42px;
  }
}

p.loan-amount {
  font-size: 15px;
  margin-top: 1.3em;
}

@media (max-width: 767.98px) {
  p.loan-amount {
    font-size: 12px;
  }
}

@media (max-width: 767.98px) {
  .help-card button {
    font-size: 12px;
  }
}

.funded-progress {
  position: relative;
  width: 100%;
  height: 15px;
  border-radius: 3px;
  background: rgba(4, 23, 42, 0.05);
  margin-top: 1.33em;
}

@media (max-width: 767.98px) {
  .funded-progress {
    height: 12px;
  }
}

.funded-progress .funded {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background: var(--fml-primary);
  border-radius: 3px;
}

.funded-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 2;
}

.contain-arrow-helper {
  position: relative;
}

.slide-control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.slide-control.arrow-left {
  margin-left: -40px;
  left: 0;
  cursor: pointer;
}

.slide-control.arrow-right {
  margin-right: -40px;
  right: 0;
  cursor: pointer;
}

@media (max-width: 1199.98px) {
  .slide-control.arrow-left, .slide-control.arrow-right {
    width: 10px;
    height: 30px;
  }
  .slide-control.arrow-left {
    margin-left: -7px;
  }
  .slide-control.arrow-right {
    margin-right: -7px;
  }
}

@media (pointer: coarse) {
  .slide-control {
    display: none;
  }
}

/*footer styles */
ul.nav li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

ul.footer-icons > * + * {
  padding-left: 1em;
}

ul.bye li {
  padding-top: 0;
  padding-right: 0;
}

ul.bye > * + * {
  padding-left: 1.5em;
}

@media screen and (max-width: 576px) {
  div.bye {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  ul.bye {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  ul.bye li {
    padding-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

/*# sourceMappingURL=investee-dashboard-new.css.map */