
.black_bg {
 background: #04172A;
 color: white;
 box-sizing: border-box;
 width: 100%;
 padding-top: 50px;
 height:200px;
}

.black_bg:before {
 position: absolute;
 background: inherit;
 width: 100%;
 height:270px;
 content: "";
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 z-index: -1;
 transform-origin: right;
 transform: skewY(-7deg);
}

.terms-text {
 margin-bottom:20px;
}

.terms-text h1 {
 font-size: 30px;
 color: white;
 font-weight: 600;
}

.head-text {
 text-align: center;
 margin: 10px;
 margin-bottom: 15px;
}

.head-text h1 {
 color: #393737;
 font-size: 30px;
}

.agreement-wrapper {
 color: #393737;
 width: 90%;
 margin: auto;
 padding: 20px;
 padding-left: 90px;
 padding-right: 50px;
 background: #FFFFFF;
 box-shadow: 0px 2.76726px 2.21381px rgba(153, 153, 153, 0.0196802), 0px 6.6501px 5.32008px rgba(153, 153, 153, 0.0282725), 0px 12.5216px 10.0172px rgba(153, 153, 153, 0.035), 0px 22.3363px 17.869px rgba(153, 153, 153, 0.0417275), 0px 41.7776px 33.4221px rgba(153, 153, 153, 0.0503198), 0px 100px 80px rgba(153, 153, 153, 0.07);
 border-radius: 11px;
 height:800px;
 overflow: hidden;
}

.agreement-text {
 height: 75%;
 overflow: auto;
 margin-bottom: 20px;
 margin-top: 20px;
 width:100%;
}
.agreement-text .conditions{
 width:94%;
}
.agreement-buttons {
 text-align: right;
}

.agreement-buttons button {
 margin: 20px;
 box-shadow: 0px 2.76726px 2.21381px rgba(42, 58, 100, 0.0196802), 0px 6.6501px 5.32008px rgba(42, 58, 100, 0.0282725), 0px 12.5216px 10.0172px rgba(42, 58, 100, 0.035), 0px 22.3363px 17.869px rgba(42, 58, 100, 0.0417275), 0px 41.7776px 33.4221px rgba(42, 58, 100, 0.0503198), 0px 100px 80px rgba(42, 58, 100, 0.07);
 border-radius: 5px;
 width: 130px;
}
.shift{
 margin-top: -140px;
 margin-bottom:50px;
}
.cancel {
 border: 1px solid #FB3F5C !important;
 transition: ease-in-out 0.5s !important;
}

.cancel:hover {
 background: #FB3F5C !important;
 color: white !important;
}

.agree {
 transition: ease-in-out 0.5s;
 margin-right: 40px !important;
}

.agree:hover {
 border: 1px solid #FB3F5C !important;
 background: white !important;
 color: black !important;
}

.agreement-text::-webkit-scrollbar {
 width:5px;
 background: #DDDDDD;
 border-radius: 2px;
}

.agreement-text::-webkit-scrollbar-thumb {
 background: #37456C;
 border-radius: 2px;
}
@media(max-width: 900px){
 .black_bg{
  background: transparent;
 }
 .terms-text h1{
  color: #04172A;
 }
 .agreement-text::-webkit-scrollbar {
  width:3px;
  background: #DDDDDD;
  border-radius: 1.5px;
 }
 .shift{
  margin-top: -180px;
 }
 .agreement-text .conditions{
  width:95%;
 }
 .agreement-buttons{
  text-align: center;
 }
 
 .container{
  padding:0;
 }
 .terms-text{
  text-align: center;
  color: #37456C;
 }
 .terms-text h1{
  font-size: 25px;
 margin-bottom:0;
}
.agreement-buttons{
 text-align:center;
 margin:1px;
}
.agreement-buttons button {
 width:auto;
}
.head-text h1{
 font-size:20px;
}
.agreement-wrapper{
 width:95%;
 height: 100vh;
 padding: 10px;
}
}