
  body {
    font-family:  DM Sans;
    padding: 10px;
    margin: 30px;
    text-align: center;
  }
  h1{
    color: #04172A;
    text-align: center;
    padding-top: 10%;
  }
  p{
    color: rgba(4, 23, 42, 0.68);
    text-align: center;
  }

  .btn-fml-secondary {
    color: #fff;
    background-color: #fb3f5c;
    border-color: #fb3f5c;
  }
  .login-btn.form-control {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rcm !important; 
    height: inherit;
  }
  
  form{
        display: inline-block;
        margin-left: auto;
        margin-right: auto; 
        width: 70%; 
  }
  
  .formGroupExampleInput3{
    margin-left: -84%;
    padding: 0;
    margin-bottom: 5px;
  }

  @media (max-width: 375px) {
    .formGroupExampleInput3{
      margin-left: -43% !important;
    }
  
  }
   