
  body {
    font-family:  DM Sans;
    padding: 10px;
    margin: 30px;
    text-align: center;
  }
  h1{
    color: #04172A;
    text-align: center;
    padding-top: 10%;
  }
  p{
    color: rgba(4, 23, 42, 0.68);
    text-align: center;
  }

  .btn-fml-secondary {
    color: #fff;
    background-color: #fb3f5c;
    border-color: #fb3f5c;
  }
  .login-btn.form-control {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rcm !important; 
    height: inherit;
  }
  
  form{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 70%; 
  }
  .labelformGroupExampleInput1{
    padding: 0px;
    margin-left: 0px ;
    
    
  }
  input[type=text], input[type=password] {
    padding: 5px;
    margin: 5px 0 22px 0;
    
  }
  .formGroupExampleInput,
  .formGroupExampleInput1{
    margin-left: -80%;
    padding: 0;
    margin-bottom: 0;
  }
  @media (max-width: 375px) {
    .formGroupExampleInput1,
    .formGroupExampleInput{
      margin-left: -25% !important;
    }
    input[type=text], input[type=password] {
      padding: 5px;
      margin: 5px 0 22px 15px;
      
    }
  
  }
  
   